<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Bobinados resolution</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div id="wrap">
  <a href="#" class="hb">
    <div class="c">
      <img src="https://image.jimcdn.com/app/cms/image/transf/none/path/s155e64ebf7c1354f/image/i1d29426835d8d3f7/version/1565641417/image.jpg" alt=""/>
      <div class="txt">
        <h1>Aqui va el titulo</h1>
        <p>acá va la descripcion del servicio</p>
      </div>
    </div>
  </a>
  <div class="fullBg">
    <img src="https://image.jimcdn.com/app/cms/image/transf/none/path/s155e64ebf7c1354f/image/i1d29426835d8d3f7/version/1565641417/image.jpg" alt=""/>
  </div>
  <a href="#" class="hb">
    <div class="c">
      <img src="https://image.jimcdn.com/app/cms/image/transf/none/path/s155e64ebf7c1354f/image/i1d29426835d8d3f7/version/1565641417/image.jpg" alt=""/>
      <div class="txt">
        
      </div><h1>Aqui va el titulo</h1>
      <p>acá va la descripcion del servicio</p>
    </div>
  </a>
  <div class="fullBg">
    <img src="https://image.jimcdn.com/app/cms/image/transf/none/path/s155e64ebf7c1354f/image/i1d29426835d8d3f7/version/1565641417/image.jpg" alt=""/>
  </div>
  <a href="#" class="hb">
    <div class="c">
      <img src="https://image.jimcdn.com/app/cms/image/transf/none/path/s155e64ebf7c1354f/image/i1d29426835d8d3f7/version/1565641417/image.jpg" alt=""/>
      <div class="txt">
        <h1>Aqui va el titulo</h1>
        <p>acá va la descripcion del servicio</p>
      </div>
    </div>
  </a>
  <div class="fullBg">
    <img src="https://image.jimcdn.com/app/cms/image/transf/none/path/s155e64ebf7c1354f/image/i1d29426835d8d3f7/version/1565641417/image.jpg" alt=""/>
  </div>
  <a href="#" class="hb">
    <div class="c">
      <img src="https://image.jimcdn.com/app/cms/image/transf/none/path/s155e64ebf7c1354f/image/i1d29426835d8d3f7/version/1565641417/image.jpg" alt=""/>
      <div class="txt">
        <h1>Aqui va el titulo</h1>
        <p>acá va la descripcion del servicio</p>
      </div>
    </div>
  </a>
  <div class="fullBg">
    <img src="https://image.jimcdn.com/app/cms/image/transf/none/path/s155e64ebf7c1354f/image/i1d29426835d8d3f7/version/1565641417/image.jpg" alt=""/>
  </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script><script  src="/js/index.js"></script>

</body>
</html>
